<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Questions</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Answer description
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">Like</mat-icon>
    </button>
    <button mat-button>view more</button>
  </mat-card-actions>
</mat-card> -->

<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Questions</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> 
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Answer description
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">Like</mat-icon>
      </button>
      <button mat-button>view more</button>
    </mat-card-actions>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Questions</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Answer description
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">Like</mat-icon>
      </button>
      <button mat-button>view more</button>
    </mat-card-actions>
  </mat-card></mat-grid-tile>
</mat-grid-list> -->

<ul *ngFor='let list1 of final1;let list2 of final2'>
   <li>{{list1.ques}}</li>
</ul>
