

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:crimson;
   color: white;
   text-align: center;
}
</style>
</head>
<body>



<div class="footer">
    <div class="footer-copyright text-center py-3">© 2018 Copyright  |<a> Hima C P </a> |  <a href="https://twitter.com/">Twitter</a> |  <a href="https://mail.google.com/mail/u/0/#inbox">  Gmail </a>
    </div>
</div>

</body>
</html> 
